/* Author: Trevor Pierce
 * Date: 11/26/17
 * Description: Final Project, a website that allows for a user to
                order contacts
 * Filename:  style.css
 */
body {
    padding: 10px 10px;
    text-align: center;
    color: #B44628;
    background: #EFEEEC;
    width: 100%;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

table {
    margin: 0 auto;
}

#contacttype {
     display: none;
}

#orderinfo {
     display: none;
}

.error {
    border-color: firebrick;
}

.goodinput {
    border-color: seagreen;
}